@charset "UTF-8";
@import "compass";

.left {
	float: left;
}
.right {
	float: right;
}
.dbma {
	display: block;
	margin: 0 auto;
}
.dno{
	display: none;
}
.tac {
	text-align: center!important;
}
.tar {
	text-align: right!important;
}
.tal {
	text-align: left!important;
}
.bold {
	font-weight: bold;
}
.red {
	color: #C00;
}
.oh {
	overflow: hidden;
}
.por {
	position: relative;
}
.hide {
	display: none;
}
.error-message {
	font-weight: bold;
	color: red;
}